@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #f0f0f0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #acacac;
}


@import '../components/header/header.scss'